ASP.NET小練習/CH11/App_WebReferences/ServiceReference1/ch11-3_3_ServiceReference.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="subtract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="subtractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subtractResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="multiple">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="multipleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="multipleResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="divide">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="divideResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="divideResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="addSoapIn">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="addSoapOut">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="subtractSoapIn">
    <wsdl:part name="parameters" element="tns:subtract" />
  </wsdl:message>
  <wsdl:message name="subtractSoapOut">
    <wsdl:part name="parameters" element="tns:subtractResponse" />
  </wsdl:message>
  <wsdl:message name="multipleSoapIn">
    <wsdl:part name="parameters" element="tns:multiple" />
  </wsdl:message>
  <wsdl:message name="multipleSoapOut">
    <wsdl:part name="parameters" element="tns:multipleResponse" />
  </wsdl:message>
  <wsdl:message name="divideSoapIn">
    <wsdl:part name="parameters" element="tns:divide" />
  </wsdl:message>
  <wsdl:message name="divideSoapOut">
    <wsdl:part name="parameters" element="tns:divideResponse" />
  </wsdl:message>
  <wsdl:portType name="ch11_3_3_ServiceReferenceSoap">
    <wsdl:operation name="add">
      <wsdl:input message="tns:addSoapIn" />
      <wsdl:output message="tns:addSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="subtract">
      <wsdl:input message="tns:subtractSoapIn" />
      <wsdl:output message="tns:subtractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="multiple">
      <wsdl:input message="tns:multipleSoapIn" />
      <wsdl:output message="tns:multipleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="divide">
      <wsdl:input message="tns:divideSoapIn" />
      <wsdl:output message="tns:divideSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ch11_3_3_ServiceReferenceSoap" type="tns:ch11_3_3_ServiceReferenceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add">
      <soap:operation soapAction="http://tempuri.org/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subtract">
      <soap:operation soapAction="http://tempuri.org/subtract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiple">
      <soap:operation soapAction="http://tempuri.org/multiple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="divide">
      <soap:operation soapAction="http://tempuri.org/divide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ch11_3_3_ServiceReferenceSoap12" type="tns:ch11_3_3_ServiceReferenceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add">
      <soap12:operation soapAction="http://tempuri.org/add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subtract">
      <soap12:operation soapAction="http://tempuri.org/subtract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiple">
      <soap12:operation soapAction="http://tempuri.org/multiple" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="divide">
      <soap12:operation soapAction="http://tempuri.org/divide" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ch11_3_3_ServiceReference">
    <wsdl:port name="ch11_3_3_ServiceReferenceSoap" binding="tns:ch11_3_3_ServiceReferenceSoap">
      <soap:address location="http://localhost:1636/ch11-3_3_ServiceReference.asmx" />
    </wsdl:port>
    <wsdl:port name="ch11_3_3_ServiceReferenceSoap12" binding="tns:ch11_3_3_ServiceReferenceSoap12">
      <soap12:address location="http://localhost:1636/ch11-3_3_ServiceReference.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>